<h1 style="opacity: 0.4">{{title}}</h1>

{{#if click}}
    <div id="container">
        {{#each list}}
            <div>
                <a href="/update?FIO={{FIO}}">name: {{FIO}}  number:{{number}}</a>
                </br>
            </div>
        {{/each}}
    </div>

{{else}}
    <div id="container">
        {{#each list}}
            <div style="cursor: not-allowed">
                <a>name: {{FIO}}  number:{{number}}</a>
                </br>
            </div>
        {{/each}}
    </div>
{{/if}}
